body{
    background-color: white;
    font-family: Arial , serif;
    padding: 10px;
}
img{
    background: green;
    width: 200px;
    display: block;
    border-radius: 20px;
}
p {
    font-weight: 600;
    margin-bottom: 5px;
}
button {
    background: green;
    color: red;
    margin-top: 10px;
    border: 2px solid black;
    font-weight: bold;
    padding : 10px 20px;
    cursor: pointer;
    border-radius: 20px;

}
#error {
    color: red;
    font-weight: 200;
}